<script type="text/x-jquery-tmpl" id="dataTemplate">
	{{if header}}
		<h3 class="header">${header}</h3>
	{{/if}}
	<p>
		{{if image}}
			<%= image_tag '${image}' , :class => "leftimg" %>
		{{/if}}
		{{each text}}
			${$value}
			<br>
			<br>
		{{/each}}
	</p>
	<!-- /div -->
</script>
