<script type="text/x-jquery-tmpl" id="dataTemplate">
	{{if header}}
		<h3 class="header">${header}</h3>
	{{/if}}
	<div class="img">
		{{if image}}
			<%= link_to image_tag('${image}'), :class => "leftimg" %>
		{{/if}}
	</div>
	<div class="text">
		{{each text}}
			<p class='righttext'>${$value}</p>
		{{/each}}
	</div>
</script>
