/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#main {
  width: 1200px;
}

.header {
  text-align:center;
}

.img {
  float: left;
  width: 1200px;
  position: relative;
}

.leftimg {
/*  float: left;
  margin: 7px 7px 7px 0;
*/
}

.righttext {
/*  float: right;
 * 
 */
}

.text {
  float: right;
  width: 1200px;
/*  position: absolute;
*/
}
